
.actor-project-name {
border: none;
font-weight: bold;
font-size: 17pt;
background-color: #F8F9FA;
opacity: 100%;
-webkit-transition: all;
}
.actor-project-name:hover {
    background-color: lavenderblush;
}
