.mouse { fill: #E5E4E3; }
        .tulip { fill: #CC2954; }
        .diamondOr {
            animation-name: diamondOrigin;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }
        @keyframes diamondOrigin {
            from { transform: rotate(0deg); }
            to   { transform: rotate(360deg); }
        }