.project-export-button-group {
    position: absolute !important;
    bottom: 0;
}
.projects-figures {
    position: relative;
  }
.project-list {
    height: 79vh;
}

.list-group-item {
    position: static !important;
}
.list-group {
    overflow-y: auto !important;
}
.project-button {
    font-size: 12px !important ;
    height: 50px;
    margin-bottom: 5px;
}
