
.actor-project-name {
    text-align: center;
    width: 200px;
    max-width: 400px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    background-color: #F8F9FA;
    opacity: 100%;
}
.actor-project-name:hover {
    background-color: lavenderblush;
}
