.add-figure {
  cursor: pointer;
}
.add-figure:hover {
  background: grey;
}

.figures-header {
  font-size: 45px;
}
.list-figure:hover {
  cursor: pointer;
  background: lightgray;
}

.figures-list {
  height: 70vh;
}
